body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/img/47cd031e07098e31e857a8aa439e63c2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
h1 {
    color: #fff
}
.title {
    text-align: center;
    margin-top: 20px; 
}
.content {
    text-align: center;
    margin-top: 20px;
}
.container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.content p {
    font-weight: bold;
}